@import 'nbx-general';

// ESTILOS DEL COMPROBANTE
.cnt-comprobante {
  display: block;
  height: 100%;
  //height: 440px;
  position: relative;
  width: calc(100% - 0px);
  border-left: 1px solid $gray-2;
  border-bottom: 1px solid $gray-2;
}

.header-li, .nivel-li {
  @include nbx-roboto;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  text-align: center;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  text-overflow-multiline: ellipsis;
  //ANCHOS
  &.width-2-5 { width: 2.5%; max-width: 2.5%; min-width: 2.5%; }
  &.width-5 { width: 5%; max-width: 5%; min-width: 5%; }
  &.width-7-5 { width: 5%; max-width: 5%; min-width: 5%; }
  &.width-10 { width: 10%; max-width: 10%; min-width: 10%; }
  &.width-12-5 { width: 12.5%; max-width: 12.5%; min-width: 12.5%; }
  &.width-15 { width: 15%; max-width: 15%; min-width: 15%; }
  &.width-17-5 { width: 17.5%; max-width: 17.5%; min-width: 17.5%; }
  &.width-20 { width: 20%; max-width: 20%; min-width: 20%; }
  &.width-22-5 { width: 22.5%; max-width: 22.5%; min-width: 22.5%; }
  &.width-25 { width: 25%; max-width: 25%; min-width: 25%; }
  &.width-27-5 { width: 27.5%; max-width: 27.5%; min-width: 27.5%; }
  &.width-30 { width: 30%; max-width: 30%; min-width: 30%; }
  &.width-32-5 { width: 32.5%; max-width: 32.5%; min-width: 32.5%; }
  &.width-35 { width: 35%; max-width: 35%; min-width: 35%; }
  &.width-37-5 { width: 37.5%; max-width: 37.5%; min-width: 37.5%; }
  &.width-40 { width: 40%; max-width: 40%; min-width: 40%; }
  &.width-42-5 { width: 42.5%; max-width: 42.5%; min-width: 42.5%; }
  &.width-45 { width: 45%; max-width: 45%; min-width: 45%; }
  &.width-47-5 { width: 47.5%; max-width: 47.5%; min-width: 47.5%; }
  &.width-50 { width: 50%; max-width: 50%; min-width: 50%; }
  &.width-52-5 { width: 52.5%; max-width: 52.5%; min-width: 52.5%; }
  &.width-55 { width: 55%; max-width: 55%; min-width: 55%; }
  &.width-57-5 { width: 57.5%; max-width: 57.5%; min-width: 57.5%; }
  &.width-60 { width: 60%; max-width: 60%; min-width: 60%; }
  &.width-62-5 { width: 62.5%; max-width: 62.5%; min-width: 62.5%; }
  &.width-65 { width: 65%; max-width: 65%; min-width: 65%; }
  &.width-67-5 { width: 67.5%; max-width: 67.5%; min-width: 67.5%; }
  &.width-70 { width: 70%; max-width: 70%; min-width: 70%; }
  &.width-72-5 { width: 72.5%; max-width: 72.5%; min-width: 72.5%; }
  &.width-75 { width: 75%; max-width: 75%; min-width: 75%; }
  &.width-77-5 { width: 77.5%; max-width: 77.5%; min-width: 77.5%; }
  &.width-80 { width: 80%; max-width: 80%; min-width: 80%; }
  &.width-82-5 { width: 82.5%; max-width: 82.5%; min-width: 82.5%; }
  &.width-85 { width: 85%; max-width: 85%; min-width: 85%; }
  &.width-87-5 { width: 87.5%; max-width: 87.5%; min-width: 87.5%; }
  &.width-90 { width: 90%; max-width: 90%; min-width: 90%; }
  &.width-92-5 { width: 92.5%; max-width: 92.5%; min-width: 92.5%; }
  &.width-95 { width: 95%; max-width: 95%; min-width: 95%; }
  &.width-97-5 { width: 97.5%; max-width: 97.5%; min-width: 97.5%; }
  &.width-100 { width: 100%;}
  &.width-100-num { width: calc(100% - 40px); }
  &.width-100-num-del { width: calc(100% - 40px - 40px); }
  &.width-100-del { width: calc(100% - 40px); }
  &.width-100-check { width: calc(100% - 30px); }
  &.width-100-select{ width: calc(100% - 30px); }
  &.width-100-num-label { width: calc(100% - 40px - 64px); }
  &.width-100-num-label-del { width: calc(100% - 40px - 64px - 40px); }
  &.width-100-num-label-check { width: calc(100% - 40px - 64px - 30px); }
  &.width-100-num-label-check-del { width: calc(100% - 40px - 64px - 30px - 40px); }
  &.width-100-num-label-select { width: calc(100% - 40px - 64px - 30px); }
  &.width-100-num-label-select { width: calc(100% - 40px - 64px - 40px - 30px); }
  &.scrollbar-space{
    width: 18px;
    max-width: 18px;
    min-width: 18px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.header-comprobante { 
  display: block;
  position: relative;
  background-color: $gray_6;
  height: 50px;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: $gray_2;
  box-sizing: border-box;
  border-left: 0px;//mejora para comprobante colombia
  .header-ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    .header-li {
      border-right: 1px solid $gray_2;
      &:last-of-type {
        border-right: 0;
      }
      font: {
        size: 12px;
        weight: 600;
      }
      text: {
        align: center;
        transform: uppercase;
      }
      color: $gray_5;
      height: 100%;
      &.check, &.select {
        width: 30px;
        max-width: 30px;
        min-width: 30px;
      }
      &.numeracion {
        width: 40px;
        max-width: 40px;
        min-width: 40px;
        text-align: center;
        font: {
          weight: 500;
          size: 12px;
        }
        color: $gray_5;
        border-right: 0px;
      }
      &.no-border {
        border-right: 0px;
      }
    }
  }
}

// CUERPO DE LA GRILLA

.body-comprobante {
  width: 100%;
  height: calc(100% - 108px);
  position: relative;
  overflow: hidden;
  .cnt-body-comprobante{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .registro {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      .nivel-ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        box-sizing: border-box;
        border-width: 1px 1px 0px 1px;
        border-style: solid;
        border-color: $gray_2;
        height: auto;
        border-left: 0px;//mejora para comprobante colombia
        border-right: 0px;//mejora para comprobante colombia
      }
      // PRIMER NIVEL
      &.level-1 {
        .nivel-ul {
          background-color: $white;
        }
        &:nth-child(even) {
          .nivel-ul {
            background-color: $gray_16;
          }
        }
        .nivel-li {
          &.label {
            &.aux, &.ban, &.hon {
              &:before, &:after {
                cursor: pointer!important;
              }
            }
          }
        }
        &.activo {
          &:after {
            font-family: 'Nubox'!important;
            content: "\e901";
            color: $gray_9;
            position: absolute;
            left: 22px;
            top: 52px;
            font-size: 16px;
          }
          > .nivel-ul {
            background-color: lighten($skyblue_white, 2.5%);
            border-bottom: 1px solid $gray_2;
          }
          padding-bottom: 16px;
          .borrar {
            &:before {
              color: $soft_blue!important;
            }
            &:hover {
              &:before {
                color: lighten($soft_blue, 10%)!important;
              }
            }
          }
        }
        &.placeholder {
          .nivel-ul {
            background-color: $white;
            border: 1px solid $gray_2;
            .nivel-li {
              font-style: italic;
              color: $gray_15;
              //cursor: pointer;
            }
            .borrar {
              visibility: hidden;
            }
            .label {
              visibility: hidden;
            }
          }
        }
      }
      // SEGUNDO NIVEL
      &.level-2 {
        height: 0px;
        overflow: hidden;
        @include nbx-animate;
        &.level-sin-num {
          width: calc( 100% - 40px - 12px);
          margin-left: 52px;
        }
        &.level-sin-del {
          width: calc( 100% - 40px - 12px );
          margin-left: 52px;
        }
        &.level-sin-num-del {
          width: calc( 100% - 40px - 40px - 12px);
          margin-left: 92px;
        }
        &:nth-child(even) {
          > .nivel-ul {
            background-color: $white;
          }
        }
        &:nth-child(odd) {
          > .nivel-ul {
            background-color: $white;
          }
        }
        &:first-of-type {
          .nivel-ul {
            border-top: 0;
          } 
        }
        &:last-of-type {
          //margin-bottom: 16px;
          .nivel-ul {
            border-bottom: 1px solid $gray_2;
          } 
        }
        &.placeholder {
          .nivel-ul {
            background-color: $white;
            .nivel-li {
              font-style: italic;
              color: $gray_15;
              //cursor: pointer;
            }
            .borrar {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}




.registro.placeholder {
  .nivel-ul {
    .nivel-li{
      &[data-required="true"] {
        cursor: pointer!important;
        &.label, &.label-noexpand {
          cursor: pointer;
          &:hover {
            cursor: pointer;
          }
          &:after, &.before {
            cursor: pointer;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      &[data-required="false"] {
        cursor: default!important;
        &.label, &.label-noexpand {
          cursor: default;
          &:hover {
            cursor: default;
          }
          &:after, &.before {
            cursor: default;
            &:hover {
              cursor: default;
            }
          }
        }
      }
    }
  }
}
.nivel-li {
  height: 40px;
  text-transform: none;
  &:focus {
    //background-color: $skyblue_soft!important;//mejora para comprobante colombia
    input.base-line.jqx-widget-content.jqx-widget-content-nubox.jqx-input.jqx-input-nubox.jqx-widget.jqx-widget-nubox{
      //something
    }
  }
  &[aria-pressed="true"],
  [role="button"][aria-pressed="true"]{
    //background-color: $skyblue_soft!important;//mejora para comprobante colombia
    input.base-line.jqx-widget-content.jqx-widget-content-nubox.jqx-input.jqx-input-nubox.jqx-widget.jqx-widget-nubox{
      //something
    }
  }
  &:last-of-type {
    border-right: 0px;
  }
  &.normal {
    color: $gray_7;
    font-style: normal;
  }
  &.placeholder {
    color: $gray_15;
    font-style: italic;
  }
  &.check, &.select {
    width: 30px;
    max-width: 30px;
    min-width: 30px;
  }
  &.numeracion {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    text-align: center;
    font: {
      weight: 500;
      size: 12px;
    }
    color: $gray_5;
    border-right: 0px;
  }
  &.no-border {
    border-right: 0px;
  }
  &.label, &.label-noexpand {
    width: 64px;
    max-width: 64px;
    min-width: 64px;
    text-align: center;
    border-right: 0px;
    position: relative;
    //LABEL GENERAL
    &:after {
      font: {
        family: 'Nubox';
        size: 16px;
      }
      color: $white;
      //cursor: pointer;
      display: inline-block;
      position: relative;
      text: {
        align: right;
      } 
      margin: 0 auto;
      height: 20px;
      padding-top: 2px;
      @include nbx-border_lg;
      //cursor: pointer;
      width: 48px;
      padding-right: 3px;
      @include nbx-animate;
    }
    &.collapsed{
      &:after {
        content: "\e90a";
      }
    }
    &.expanded {
      &:after {
        content: "\e948";
      }
    }
    &:before {
      text: {
        align: center;
        transform: uppercase;
      }
      font: {
        size: 12px;
        weight: 600;
      }
      color: white;
      position: absolute;
      left: 18px;
      width: 12px;
      top: 12px;
      z-index: 2;
      @include nbx-roboto;
      //cursor: pointer;
    }
    //LABEL AUXILIAR
    &.aux {
      &:hover {
        &:after {
          background-color: lighten($soft_blue, 10%);
        }
      }
      &:after {
        background-color: $soft_blue;
        border: 1px solid $soft_blue;
      }
      &:before {
        content: "aux";
      }
    }
    //LABEL HONORARIOS
    &.hon {
      &:hover {
        &:after {
          background-color: lighten($yellow, 10%);
        }
      }
      &:after {
        background-color: $yellow;
        border: 1px solid $yellow;
      }
      &:before {
        content: "hon";
      }
    }
    //LABEL BANCARIOS
    &.ban {
      &:hover {
        &:after {
          background-color: lighten($green, 10%);
        }
      }
      &:after {
        background-color: $green;
        border: 1px solid $green;
      }
      &:before {
        content: "ban";
      }
    }
    &.vacia {
      &.before {
        cursor: default;
        color: transparent;
      }
      &:hover {
        &:after {
          background-color: transparent;
          cursor: default;
          color: transparent;
        }
      }
      &:after {
        background-color: transparent;
        border: 1px solid transparent;
        cursor: default;
        color: transparent;
      }
      &.collapsed{
        &:after {
          content: "";
        }
      }
      &.expanded {
        &:after {
          content: "";
        }
      }
    }
    &.default {
      &:hover {
        &:after {
          background-color: lighten($soft_blue, 10%);
        }
      }
      &:after {
        background-color: $soft_blue;
        border: 1px solid $soft_blue;
        text-align: center;
        width: 24px;
        padding-left: 3px;
        margin-left: 26px;
      }
      &:before {
        content: "";
      }
    }
  }
  &.label-noexpand {
    &:after { 
      content: "";
    }
    &:before {
      width: 53px;
      left: inherit;
      right: 11px;
      text-align: center;
    }
    &.collapsed{
      &:after {
        content: "";
      }
    }
    &.expanded {
      &:after {
        content: "";
      }
    }
  }
  &.borrar {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    border-right: 0px;
    &:hover {
      &:before {
        color: $soft_blue;
      }
    }
    &:before {
      font: {
        family: 'Nubox'!important;
        size: 18px;
      }
      content: "\e92a";
      color: $gray_11;

      cursor: pointer;

      display: block;
      position: relative;
      text-align: center;
      margin: 0 auto;
      @include nbx-animate;
    }
  }
  &.center {
    justify-content: center;
    text-align: right;
  }
  &.right {
    justify-content: flex-end;
    text-align: right;
  }
  &.left {
    justify-content: flex-start;
    text-align: left;
  }
}

.ctn-totalizador {
  width: calc(100% - 19px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #ebebeb;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 20px 0px 20px 0px;
}

.celda {
  width: 158px;
  @include nbx-roboto;
  color: #656565;
  &.totales {
    font: {
      size: 13px;
      weight: 600;
    }
    text-align: right;
    text-transform: uppercase;
    padding-right: 16px;
  }
  &.cifra {
    text-align: right;
    //padding: 0 5px 0 0;
    padding-right: 16px;
    padding-left: 16px;
    font: {
      size: 13px;
      weight: 600;
    }
  }
}

.scroll-fix {
  width: 20px;
  height: 58px;
  background-color: #ebebeb;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  position: absolute;
  bottom: -1px;
  right: -19px;
}