@import 'nbx-mixins';

//GENERIC STYLES (ERASE)

.wrapper{
  display: block;
  width: 400px;
  height: 300px;
  //border: 1px solid $gray-2;
  overflow: scroll;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  .content{
    width: 200%;
    height: 200%;
    p {
      font-family: 'Roboto';
      font-size: 13px;
      color: $black;
    }
  }
}

// SCROLLBAR CUSTOM

/*BASE STYLES*/
 
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-element {
  display: none;
}
.scroll-element, .scroll-element div {
  box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default;
}

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}



/* NUBOX STYLES SCROLLBAR */

.nbx-scrollbar > .scroll-content.scroll-scrolly_visible { left: -17px; margin-left: 17px; }
.nbx-scrollbar > .scroll-content.scroll-scrollx_visible { top:  -17px; margin-top:  17px; }


.nbx-scrollbar > .scroll-element {
  background-color: #fcfdff;
}

.nbx-scrollbar > .scroll-element,
.nbx-scrollbar > .scroll-element div
{
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.nbx-scrollbar > .scroll-element .scroll-element_outer,
.nbx-scrollbar > .scroll-element .scroll-element_size,
.nbx-scrollbar > .scroll-element .scroll-element_inner-wrapper,
.nbx-scrollbar > .scroll-element .scroll-element_inner,
.nbx-scrollbar > .scroll-element .scroll-bar,
.nbx-scrollbar > .scroll-element .scroll-bar div
{
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.nbx-scrollbar > .scroll-element .scroll-element_outer,
.nbx-scrollbar > .scroll-element .scroll-element_size,
.nbx-scrollbar > .scroll-element .scroll-element_inner-wrapper,
.nbx-scrollbar > .scroll-element .scroll-bar_body
{
  background: none !important;
}


.nbx-scrollbar > .scroll-element.scroll-x {
  border-top: solid 1px #fcfdff;
  bottom: 0;
  height: 16px;
  left: 0;
  min-width: 100%;
  width: 100%;
}

.nbx-scrollbar > .scroll-element.scroll-y {
  border-left: solid 1px #E9E9E9;
  height: 100%;
  min-height: 100%;
  right: 0;
  top: 0;
  width: 16px;
}

.nbx-scrollbar > .scroll-element.scroll-x div {
  background-image: url('../images/nbx-scrollbar-x.svg');
  background-repeat: repeat-x;
  background-size: 35px 67px;
}

.nbx-scrollbar > .scroll-element.scroll-y div {
  background-image: url('../images/nbx-scrollbar-y.svg');
  background-repeat: repeat-y;
  background-size: 67px 35px;
}

.scrollbar-nubox > .scroll-element.scroll-x .scroll-arrow {}

.nbx-scrollbar > .scroll-element {
  &.scroll-x {
    .scroll-bar {
      min-width: 16px;
      background-position: 0px -34px;
      background-repeat: no-repeat;
    }
    .scroll-bar_body {
      left: 2px;
    }
    .scroll-bar_body-inner {
      left: -4px;
      background-position: 0px -17px;
    }
    .scroll-bar_center {
      left: 50%;
      margin-left: -6px;
      width: 12px;
      background-position: 24px -34px;
    }
    .scroll-bar_bottom {
      left: auto;
      right: 0;
      width: 2px;
      background-position: 37px -34px;
    }
  }
  &.scroll-y {
    .scroll-bar {
      min-height: 16px;
      background-position: -34px 0px;
      background-repeat: no-repeat;
    }
    .scroll-bar_body {
      top: 2px;
    }
    .scroll-bar_body-inner {
      top: -4px;
      background-position: -17px 0px;
    }
    .scroll-bar_center {
      top: 50%;
      margin-top: -6px;
      height: 12px;
      background-position: -34px 24px;
    }
    .scroll-bar_bottom {
      top: auto;
      bottom: 0;
      height: 2px;
      background-position: -34px 37px;
    }
  }
  .scroll-arrow {
    display: none;
  }
  &.scroll-element_arrows_visible .scroll-arrow {
    display: block;
    z-index: 12;
  }
  &.scroll-x.scroll-element_arrows_visible {
    .scroll-arrow_less {
      height: 100%;
      width: 17px;
      background-position: 0px -51px;
    }
    .scroll-arrow_more {
      height: 100%;
      left: auto;
      right: 0;
      width: 17px;
      background-position: 17px -51px;
    }
    .scroll-element_outer {
      left: 17px;
    }
    .scroll-element_inner, .scroll-element_size {
      left: -34px;
    }
  }
  &.scroll-y.scroll-element_arrows_visible {
    .scroll-arrow_less {
      width: 100%;
      height: 17px;
      background-position: -51px 0px;
    }
    .scroll-arrow_more {
      width: 100%;
      top: auto;
      bottom: 0;
      height: 17px;
      background-position: -51px 17px;
    }
    .scroll-element_outer {
      top: 17px;
    }
    .scroll-element_inner, .scroll-element_size {
      top: -34px;
    }
  }
  &.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -17px;
  }
  &.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -17px;
  }
  &.scroll-x.scroll-scrolly_visible .scroll-element_inner {
    left: -17px;
  }
  &.scroll-y.scroll-scrollx_visible .scroll-element_inner {
    top: -17px;
  }
  &.scroll-x.scroll-element_arrows_visible.scroll-scrolly_visible {
    .scroll-arrow_more {
      right: 17px;
    }
    .scroll-element_inner, .scroll-element_size {
      left: -51px;
    }
  }
  &.scroll-y.scroll-element_arrows_visible.scroll-scrollx_visible {
    .scroll-arrow_more {
      bottom: 17px;
    }
    .scroll-element_inner, .scroll-element_size {
      top: -51px;
    }
  }
}

/* SCROLL ARROWS */

/* PROCEED OFFSET IF ANOTHER SCROLL VISIBLE */

/* PROCEED OFFSET IF ARROWS & ANOTHER SCROLL */