/* MIXINS GENERALES TEAM UX */

// GENERAL BREAKPOINTS
$small: "(max-width: 1280px)";
$normal: "(min-width: 1366px)";
$large: "(min-width: 1680px)";
$extra-large: "(min-width: 1920px)";
$retina: "(min-width: 2048px)";


// COLORS
$blue_nubox: #122643;
$orange_nubox: #ff8d1d;
$soft_blue: #336699;
$blue: #005ab9;
$skyblue: #2196f3;
$skyblue_soft: #d5edff;
$skyblue_white: #e2eff7;
$green: #4caf50;
$yellow: #ffbc00;
$red: #ea520d;

// GRAYSCALE
$white: #ffffff;
$gray_1: #e0e0e0;
$gray_2: #d8d8d8;
$gray_3: #989898;
$gray_4: #757575;
$gray_5: #656565;
$gray_6: #ebebeb;
$gray_7: #494949;
$gray_8: #b2b2b2;
$gray_9: #828282;
$gray_10: #efefef;
$gray_11: #bababa;
$gray_12: #f5f5f5;
$gray_13: #505050;
$gray_14: #898989;
$gray_15: #919191;
$black: #000000;

// AUX MIXINGS
@mixin nbx-zero
{
  padding: 0;
  margin: 0;
}
@mixin nbx-cero{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

@mixin nbx-border_sm
{
  border-radius: 2px;
}

@mixin nbx-border_lg
{
  border-radius: 4px;
}

@mixin nbx-flex
{
  display: flex;
  flex-wrap: nowrap;
}

@mixin nbx-flex-common{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

@mixin nbx-flex-common-alt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

@mixin nbx-animate
{
  transition: all 0.25s ease-in-out;
}

@mixin nbx-roboto
{
  font-family: "Roboto", Helvetica, Tahoma, Arial, clean, sans-serif;
}

@mixin nbx-nubox_font
{
	font-family: 'Nubox'!important;
}

@mixin nbx-text_overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//ANCHOS PORCENTUALES
.width-2-5 { width: 2.5%; max-width: 2.5%; min-width: 2.5%; }
.width-5 { width: 5%; max-width: 5%; min-width: 5%; }
.width-7-5 { width: 7.5%; max-width: 7.5%; min-width: 7.5%; }
.width-10 { width: 10%; max-width: 10%; min-width: 10%; }
.width-12-5 { width: 12.5%; max-width: 12.5%; min-width: 12.5%; }
.width-15 { width: 15%; max-width: 15%; min-width: 15%; }
.width-17-5 { width: 17.5%; max-width: 17.5%; min-width: 17.5%; }
.width-20 { width: 20%; max-width: 20%; min-width: 20%; }
.width-22-5 { width: 22.5%; max-width: 22.5%; min-width: 22.5%; }
.width-25 { width: 25%; max-width: 25%; min-width: 25%; }
.width-27-5 { width: 27.5%; max-width: 27.5%; min-width: 27.5%; }
.width-30 { width: 30%; max-width: 30%; min-width: 30%; }
.width-32-5 { width: 32.5%; max-width: 32.5%; min-width: 32.5%; }
.width-35 { width: 35%; max-width: 35%; min-width: 35%; }
.width-37-5 { width: 37.5%; max-width: 37.5%; min-width: 37.5%; }
.width-40 { width: 40%; max-width: 40%; min-width: 40%; }
.width-42-5 { width: 42.5%; max-width: 42.5%; min-width: 42.5%; }
.width-45 { width: 45%; max-width: 45%; min-width: 45%; }
.width-47-5 { width: 47.5%; max-width: 47.5%; min-width: 47.5%; }
.width-50 { width: 50%; max-width: 50%; min-width: 50%; }
.width-52-5 { width: 52.5%; max-width: 52.5%; min-width: 52.5%; }
.width-55 { width: 55%; max-width: 55%; min-width: 55%; }
.width-57-5 { width: 57.5%; max-width: 57.5%; min-width: 57.5%; }
.width-60 { width: 60%; max-width: 60%; min-width: 60%; }
.width-62-5 { width: 62.5%; max-width: 62.5%; min-width: 62.5%; }
.width-65 { width: 65%; max-width: 65%; min-width: 65%; }
.width-67-5 { width: 67.5%; max-width: 67.5%; min-width: 67.5%; }
.width-70 { width: 70%; max-width: 70%; min-width: 70%; }
.width-72-5 { width: 72.5%; max-width: 72.5%; min-width: 72.5%; }
.width-75 { width: 75%; max-width: 75%; min-width: 75%; }
.width-77-5 { width: 77.5%; max-width: 77.5%; min-width: 77.5%; }
.width-80 { width: 80%; max-width: 80%; min-width: 80%; }
.width-82-5 { width: 82.5%; max-width: 82.5%; min-width: 82.5%; }
.width-85 { width: 85%; max-width: 85%; min-width: 85%; }
.width-87-5 { width: 87.5%; max-width: 87.5%; min-width: 87.5%; }
.width-90 { width: 90%; max-width: 90%; min-width: 90%; }
.width-92-5 { width: 92.5%; max-width: 92.5%; min-width: 92.5%; }
.width-95 { width: 95%; max-width: 95%; min-width: 95%; }
.width-97-5 { width: 97.5%; max-width: 97.5%; min-width: 97.5%; }
.width-100 { width: 100%;}
.width-100-num { width: calc(100% - 40px); }
.width-100-num-check { width: calc(100% - 40px - 30px); }
.width-100-num-radio { width: calc(100% - 40px - 30px); }
.width-100-num-del { width: calc(100% - 40px - 40px); }
.width-100-icon { width: calc(100% - 40px); }
.width-100-num-icon { width: calc(100% - 40px - 40px); }
.width-100-num-icon-minubox { width: calc(100% - 40px - 40px); }
.width-100-del { width: calc(100% - 40px); }
.width-100-check { width: calc(100% - 30px); }
.width-100-check-del { width: calc(100% - 40px - 30px); }
.width-100-check-del-num { width: calc(100% - 40px - 30px - 40px); }
.width-100-radio { width: calc(100% - 30px); }
.width-100-radio-del { width: calc(100% - 40px - 30px); }
.width-100-radio-del-num { width: calc(100% - 40px - 30px - 40px); }
//.width-100-select{ width: calc(100% - 30px); }
.width-100-num-label { width: calc(100% - 40px - 64px); }
.width-100-num-label-del { width: calc(100% - 40px - 64px - 40px); }
.width-100-num-label-check { width: calc(100% - 40px - 64px - 30px); }
.width-100-num-label-check-del { width: calc(100% - 40px - 64px - 30px - 40px); }
.width-100-num-label-radio { width: calc(100% - 40px - 64px - 30px); }
.width-100-num-label-radio-del { width: calc(100% - 40px - 64px - 30px - 40px); }
//.width-100-num-label-select { width: calc(100% - 40px - 64px - 30px); }
//.width-100-num-label-select { width: calc(100% - 40px - 64px - 40px - 30px); }

//ANCHOS PIXELES
.height-10p { height: 10px; max-height: 10px; min-height: 10px; }
.height-20p { height: 20px; max-height: 20px; min-height: 20px; }
.height-30p { height: 30px; max-height: 30px; min-height: 30px; }
.height-40p { height: 40px; max-height: 40px; min-height: 40px; }
.height-50p { height: 50px; max-height: 50px; min-height: 50px; }
.height-60p { height: 60px; max-height: 60px; min-height: 60px; }
.height-70p { height: 75px; max-height: 75px; min-height: 75px; }
.height-80p { height: 80px; max-height: 80px; min-height: 80px; }
.height-90p { height: 90px; max-height: 90px; min-height: 90px; }
.height-100p { height: 100px; max-height: 100px; min-height: 100px;}
.height-110p { height: 110px; max-height: 110px; min-height: 110px;}
.height-120p { height: 120px; max-height: 120px; min-height: 120px;}
.height-130p { height: 130px; max-height: 130px; min-height: 130px;}
.height-140p { height: 140px; max-height: 140px; min-height: 140px;}
.height-150p { height: 150px; max-height: 150px; min-height: 150px;}
.height-160p { height: 160px; max-height: 160px; min-height: 160px;}
.height-170p { height: 170px; max-height: 170px; min-height: 170px;}
.height-180p { height: 180px; max-height: 180px; min-height: 180px;}
.height-190p { height: 190px; max-height: 190px; min-height: 190px;}
.height-200p { height: 200px; max-height: 200px; min-height: 200px;}
.height-210p { height: 210px; max-height: 210px; min-height: 210px;}
.height-220p { height: 220px; max-height: 220px; min-height: 220px;}
.height-230p { height: 230px; max-height: 230px; min-height: 230px;}
.height-240p { height: 240px; max-height: 240px; min-height: 240px;}
.height-250p { height: 250px; max-height: 250px; min-height: 250px;}
.height-260p { height: 260px; max-height: 260px; min-height: 260px;}
.height-270p { height: 270px; max-height: 270px; min-height: 270px;}
.height-280p { height: 280px; max-height: 280px; min-height: 280px;}
.height-290p { height: 290px; max-height: 290px; min-height: 290px;}
.height-300p { height: 300px; max-height: 300px; min-height: 300px;}
.height-310p { height: 310px; max-height: 310px; min-height: 310px;}
.height-320p { height: 320px; max-height: 320px; min-height: 320px;}
.height-330p { height: 330px; max-height: 330px; min-height: 330px;}
.height-340p { height: 340px; max-height: 340px; min-height: 340px;}
.height-350p { height: 350px; max-height: 350px; min-height: 350px;}
.height-360p { height: 360px; max-height: 360px; min-height: 360px;}
.height-370p { height: 370px; max-height: 370px; min-height: 370px;}
.height-380p { height: 380px; max-height: 380px; min-height: 380px;}
.height-390p { height: 390px; max-height: 390px; min-height: 390px;}
.height-400p { height: 400px; max-height: 400px; min-height: 400px;}
.height-410p { height: 410px; max-height: 410px; min-height: 410px;}
.height-420p { height: 420px; max-height: 420px; min-height: 420px;}
.height-430p { height: 430px; max-height: 430px; min-height: 430px;}
.height-440p { height: 440px; max-height: 440px; min-height: 440px;}
.height-450p { height: 450px; max-height: 450px; min-height: 450px;}
.height-460p { height: 460px; max-height: 460px; min-height: 460px;}
.height-470p { height: 470px; max-height: 470px; min-height: 470px;}
.height-480p { height: 480px; max-height: 480px; min-height: 480px;}
.height-490p { height: 490px; max-height: 490px; min-height: 490px;}
.height-500p { height: 500px; max-height: 500px; min-height: 500px;}

//ALTOS PORCENTUALES
.height-2-5 { height: 2.5%; }
.height-5 { height: 5%; }
.height-7-5 { height: 7.5%; }
.height-10 { height: 10%;}
.height-12-5 { height: 12.5%; }
.height-15 { height: 15%;}
.height-17-5 { height: 17.5%; }
.height-20 { height: 20%;}
.height-22-5 { height: 22.5%; }
.height-25 { height: 25%;}
.height-27-5 { height: 27.5%; }
.height-30 { height: 30%;}
.height-32-5 { height: 32.5%; }
.height-35 { height: 35%;}
.height-37-5 { height: 37.5%; }
.height-40 { height: 40%;}
.height-42-5 { height: 42.5%; }
.height-45 { height: 45%; }
.height-47-5 { height: 47.5%; }
.height-50 { height: 50%; }
.height-52-5 { height: 52.5%; }
.height-55 { height: 55%; }
.height-57-5 { height: 57.5%; }
.height-60 { height: 60%; }
.height-62-5 { height: 62.5%; }
.height-65 { height: 65%; }
.height-67-5 { height: 67.5%; }
.height-70 { height: 70%; }
.height-72-5 { height: 72.5%; }
.height-75 { height: 75%; }
.height-77-5 { height: 77.5%; }
.height-80 { height: 80%; }
.height-82-5 { height: 82.5%; }
.height-85 { height: 85%; }
.height-87-5 { height: 87.5%; }
.height-90 { height: 90%; }
.height-92-5 { height: 92.5%; }
.height-95 { height: 95%; }
.height-97-5 { height: 97.5%; }
.height-100 { height: 100%; }

//HEIGHT PIXELES
.width-10p { width: 10px; max-width: 10px; min-width: 10px; }
.width-20p { width: 20px; max-width: 20px; min-width: 20px; }
.width-30p { width: 30px; max-width: 30px; min-width: 30px; }
.width-40p { width: 40px; max-width: 40px; min-width: 40px; }
.width-50p { width: 50px; max-width: 50px; min-width: 50px; }
.width-60p { width: 60px; max-width: 60px; min-width: 60px; }
.width-70p { width: 75px; max-width: 75px; min-width: 75px; }
.width-80p { width: 80px; max-width: 80px; min-width: 80px; }
.width-90p { width: 90px; max-width: 90px; min-width: 90px; }
.width-100p { width: 100px; max-width: 100px; min-width: 100px;}
.width-110p { width: 110px; max-width: 110px; min-width: 110px;}
.width-120p { width: 120px; max-width: 120px; min-width: 120px;}
.width-130p { width: 130px; max-width: 130px; min-width: 130px;}
.width-140p { width: 140px; max-width: 140px; min-width: 140px;}
.width-150p { width: 150px; max-width: 150px; min-width: 150px;}
.width-160p { width: 160px; max-width: 160px; min-width: 160px;}
.width-170p { width: 170px; max-width: 170px; min-width: 170px;}
.width-180p { width: 180px; max-width: 180px; min-width: 180px;}
.width-190p { width: 190px; max-width: 190px; min-width: 190px;}
.width-200p { width: 200px; max-width: 200px; min-width: 200px;}
.width-210p { width: 210px; max-width: 210px; min-width: 210px;}
.width-220p { width: 220px; max-width: 220px; min-width: 220px;}
.width-230p { width: 230px; max-width: 230px; min-width: 230px;}
.width-240p { width: 240px; max-width: 240px; min-width: 240px;}
.width-250p { width: 250px; max-width: 250px; min-width: 250px;}
.width-260p { width: 260px; max-width: 260px; min-width: 260px;}
.width-270p { width: 270px; max-width: 270px; min-width: 270px;}
.width-280p { width: 280px; max-width: 280px; min-width: 280px;}
.width-290p { width: 290px; max-width: 290px; min-width: 290px;}
.width-300p { width: 300px; max-width: 300px; min-width: 300px;}
.width-310p { width: 310px; max-width: 310px; min-width: 310px;}
.width-320p { width: 320px; max-width: 320px; min-width: 320px;}
.width-330p { width: 330px; max-width: 330px; min-width: 330px;}
.width-340p { width: 340px; max-width: 340px; min-width: 340px;}
.width-350p { width: 350px; max-width: 350px; min-width: 350px;}
.width-360p { width: 360px; max-width: 360px; min-width: 360px;}
.width-370p { width: 370px; max-width: 370px; min-width: 370px;}
.width-380p { width: 380px; max-width: 380px; min-width: 380px;}
.width-390p { width: 390px; max-width: 390px; min-width: 390px;}
.width-400p { width: 400px; max-width: 400px; min-width: 400px;}
.width-410p { width: 410px; max-width: 410px; min-width: 410px;}
.width-420p { width: 420px; max-width: 420px; min-width: 420px;}
.width-430p { width: 430px; max-width: 430px; min-width: 430px;}
.width-440p { width: 440px; max-width: 440px; min-width: 440px;}
.width-450p { width: 450px; max-width: 450px; min-width: 450px;}
.width-460p { width: 460px; max-width: 460px; min-width: 460px;}
.width-470p { width: 470px; max-width: 470px; min-width: 470px;}
.width-480p { width: 480px; max-width: 480px; min-width: 480px;}
.width-490p { width: 490px; max-width: 490px; min-width: 490px;}
.width-500p { width: 500px; max-width: 500px; min-width: 500px;}
