@import 'nbx-mixins';

// CUSTOM RESETS AND OTHER PROPERITIES
html, body
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.display-none{
  display: none!important;
  height: 0px;
}

// APLICAR EN LAS VISTAS Y CALCULA EL TAMAÑO AUTOMATICAMENTE
.wrapper-general{
  width: 100%;
  background-color: $gray_12
}

// APLICAR EN LOS CONTENEDORES DE WIDGETS Y MIENTRAS HAYA UN HEADER DE FILTROS DEBERIA CALCULAR EL ALTO
.wrapper-grid-general{
  position: relative;
}

.grid-space{
}

.grid-config{
  height: 100%!important;
}

.grid-tab-set {
  height: calc(100% - 56px)!important;
}

.widget-filter{
  padding-bottom: 24px;
}

.block{
  width: 100%;
  &.check{
    .label-form-x{
      width: 100%;
      margin-left: 6px;
      text-align: left;
    }
  }
  .form-group-y-input, .form-group-y-dropdown, .form-group-y-combobox, .form-group-y-switch, .form-group-y-button, .form-group-y-calendar, .form-group-y-radio, .form-group-y-checkbox, .form-group-x-input, .form-group-x-dropdown, .form-group-x-combobox, .form-group-x-switch, .form-group-x-button, .form-group-x-calendar, .form-group-x-radio, .form-group-x-checkbox{
    align-self: center;
  }
}

.radio{
  align-self: flex-start;
  margin-bottom: 6px;
  &:last-of-type{
    margin-bottom: 0px;
  }
  .label-form-x{
    height: 18px;
    margin-left: 0px;
    padding-top: 3px!important;
    text-align: left;
  }
}


// TEXT ALIGNMENT
.text-left //LEFT
{
  text-align: left;
}
.text-right //RIGHT
{
  text-align: right;
}
.text-center //CENTER
{
  text-align: center
}

// FLEX POSITIONS

.flex-row{ //ROW
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;
  //background-color: red!important;
}

.flex-popover{
  padding: 16px;
}

// FLEX JUSTIFY (HORIZONTAL DISTRIBUTION)
.flex-start{
	justify-content: flex-start;
}
.flex-end
{
  justify-content: flex-end;
}
.flex-center
{
  justify-content: center;
}
.flex-space
{
  justify-content: space-between;
}

.flex-stretch{
  align-items: stretch;
}

// SCREEN TITLES
.section-title{
  padding-bottom: 14px;
  margin-bottom: 0px;
}

// FIX ICONS BUTTONS

.jqx-button-nubox{
  > span{
    margin-right: 4px;
  }
}

// FORM GROUP HORIZONTAL
.form-group-x
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  position: relative;
  height: auto;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  &:last-of-type
  {
    margin-right: 0;
  }
  &:hover, &:active, &:focus
  {
    outline: none;
  }
  input
  {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  &.mini{
    margin-right: 8px;
    &:last-of-type
    {
      margin-right: 0;
    }
  }
  &.maxi{
    margin-right: 20px;
    &:last-of-type
    {
      margin-right: 0;
    }
  }
  &.maxi-reverse{
    margin-left: 20px;
  }
  &.vertical{
    margin-right: 0px;
    margin-bottom: 24px;
    &:last-of-type{
      margin-bottom: 0px;
    }
  }
  &.check{
    .label-form-x{
      width: 100%;
      margin-left: 6px;
      text-align: left;
    }
  }
}

// FORM GROUP VERTICAL
.form-group-y
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  position: relative;
  margin-right: 20px;
  outline: none;
  &:hover, &:active, &:focus
  {
    outline: none;
  }
  &:last-of-type
  {
    margin-right: 0;
  }
  input
  {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  &.mini{
    margin-right: 8px;
    &:last-of-type
    {
      margin-right: 0;
    }
  }
  &.vertical{
    margin-right: 0px;
    margin-bottom: 24px;
    &:last-of-type{
      margin-bottom: 0px;
    }
  }
  &.button-y{
    justify-content: flex-end;
  }
}

// FORM LABELS
.label-form-x
{
  display: inline-block;
  @include nbx-roboto;
  font-weight: 400;
  font-size: 13px;
  margin-right: 6px;
  margin-left: 0;
  color: #656565;
  text:
  {
    align: left;
    transform: initial;
  }
}

.label-form-y
{
  display: block;
  @include nbx-roboto;
  font-weight: 600;
  font-size: 12px;
  color: #656565;
  margin-bottom: 6px;
  align-self: flex-start;
  text:
  {
    align: left;
    transform: uppercase;
  }
}

.nbx-button-disabled {
  background-color: #f7f7f7;
  color: #919191;
  border: 1px solid #d9d9d9;
}

.nbx-button-disabled:hover {
  background-color: #ebebebe;
}


// FORM ITEMS

.form-group-y-input, .form-group-y-dropdown, .form-group-y-combobox, .form-group-y-switch, .form-group-y-button, .form-group-y-calendar, .form-group-y-radio, .form-group-y-checkbox{
  display: block;
  align-self: flex-start;
}

.form-group-x-input, .form-group-x-dropdown, .form-group-x-combobox, .form-group-x-switch, .form-group-x-button, .form-group-x-calendar, .form-group-x-radio{
  display: inline-block;
  align-self: flex-start;
}

.form-group-x-combobox, .form-group-y-combobox {
  &.up {
    .jqx-combobox-arrow-normal-nubox.jqx-fill-state-normal-nubox{
      background-color: transparent;
      background-image: none;
      .jqx-icon-arrow-up.jqx-icon-arrow-up-nubox.jqx-icon.jqx-icon-nubox, .jqx-combobox-arrow-selected.jqx-combobox-arrow-selected-nubox.jqx-fill-state-pressed-nubox
      {
        background-image: none;
        background-color: transparent;
        &:before {
          font-family: 'Nubox'!important;
          font-size: 13px;
          color: $soft_blue;
          content: "\e90a";
        }
      }
    }
  }
}

.form-filter-xy{
  height: 64px;
  .form-group-x{
    .label-form-x{
      padding-top: 10px;
    }
    .form-group-x-checkbox{
      padding-top: 10px!important;
      @include nbx-flex-common-alt;
    }
  }
  .form-group-y-combobox{
    height: 32px!important;
  }
}


// TWO SIDES FORM CASE
.form-containter-sides{
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
}

.side{
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.side-a{
  margin-right: 20px;
}

.side-b{
  margin-left: 20px;
  margin-right: 20px;
}

.side-c{
  margin-left: 20px;
}

.subt-form{
  background-color: $skyblue_white;
  @include nbx-border_lg;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-left: 6px;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  @include nbx-roboto;
  color: $soft_blue;
  text:{
    align: center;
    transform: none;
  }
  font:{
    size: 14px;
    weight: 600;
  }
}

// USEFUL WHEN A GRID NEEDS BUTTONS ON TOP
.grid-space-top{
  display: block;
  background-color: $white;
  border-top: 1px solid $gray_1;
  border-right: 1px solid $gray_1;
  border-left: 1px solid $gray_1;
  padding-top: 12px!important;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% + 2px);
}

// WRAPPER FOR BUTTON GROUPS
.buttons-area
{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

// MARGIN FOR GROUP BUTTONS AFTER GRID
.groupbuttons-bottom, .groupbuttons-bottom_2{
  padding-top: 24px;
  > button, > input{
    margin-right: 6px;
    &.naranja{
      outline: none;
      &:focus, &:active{
        outline: none;
      }
    }
    &:last-of-type{
      margin-right: 0px;
    }
  }
}

.groupbuttons-top{
  > button{
    margin-right: 5px;
    &:last-of-type{
      margin-right: 0px;
    }
  }
}

// MODAL STANDAR STRUCTURE
.jqx-window-content-nubox{
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.modal-header{
  position: absolute;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  height: auto;
  top: 0px;
  left: 0px;
  padding: 16px 16px 0px 16px;
}

.modal-body{
  padding-right: 16px;
  padding-left: 16px;
}

.modal-footer{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 16px 16px 16px;
}

.modal-set{
  position: relative;
  width: 100%;
  height: calc(100% - 38px);
}

.modal-config {
  	margin: auto;
  	position: absolute;
  	top: 0 !important; left: 0 !important; bottom: 0 !important; right: 0 !important;
}

// MODAL STANDAR HEIGHT
.modal-height-lg
{
  height: 630px!important;
  max-height: 630px!important;
}

.modal-height-md
{
  height: 630px!important;
  max-height: 630px!important;
}


.modal-height-sm
{
  height: 400px!important;
  max-height: 400px!important;
}

//MODAL STANDAR WIDTH
.modal-width-lg
{
  width: 1300px!important;
  max-width: 1300px!important;
}

.modal-width-md
{
  width: 960px!important;
  max-width: 960px!important;
}

.modal-width-md_
{
  width: 900px!important;
  max-width: 900px!important;
}

.modal-width-sm
{
  width: 600px!important;
  max-width: 600px!important;
}

.modal-width-xs
{
  width: 480px!important;
  max-width: 480px!important;
}

// MODAL SUBTITLE


.modal-sub {
  position: relative;
  top: -28px;
  > .nubox-font{
    font-size: 18px;
    font-family: 'Nubox'!important;
    display: inline-block;
    margin-right: 8px;
    margin-top: -4px;
    float: left;
  }
  > p {
    line-height: 18px;
    display: block;
    padding-left: 0px;
    color: $gray_3;
    font: {
      size: 13px;
      weight:500;
    }
    text-align: left;
    text-align: lowercase;
    .nubox-font
    {
      font-family: 'Nubox'!important;
      font-size: 13px;
      display: inline-block;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

// CUSTOM CLOSE BUTTON
.close-modal{
  position: absolute;
  display: inline-block;
  right: 16px;
  top: 16px;
  font-size: 18px;
  cursor: pointer;
  color: $soft_blue;
  z-index: 800;
  @include nbx-roboto;
  @include nbx-animate;
  &:hover{
    color: $red;
  }
}

// LABELS FOR MULTIPLE PURPOSES

.label-total-error{
  height: 18px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  position: relative;
  width: 74px!important;
  float: right;
  @include nbx-border_lg;
  @include nbx-roboto;
  @include nbx-flex-common;
  @include nbx-animate;
  font:{
    size: 11px;
    weight: 600;
  }
  text:{
    align: center;
    transform: uppercase;
  }
  color: #ffffff;
  border: 1px solid $red;
  background-color: $red;
  cursor: default;
  &:hover{
    background-color: rgba($red, 10%);
  }
  > span{
    font:{
      family: 'Nubox'!important;
      size: 12px;
    }
    margin-left: 3px;
  }
}

.jqx-grid-cell-right-align.jqx-grid-cell-total-error{
    margin: 8px 0!important;
}

.jqx-grid-nubox .jqx-grid-content-nubox .jqx-grid-cell-nubox.jqx-fill-state-pressed-nubox .jqx-grid-cell-right-align.jqx-grid-cell-total-error{
    margin: 8px 1px!important;
}

.data-list-x{
  @include nbx-flex-common-alt
  width: 100%;
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
  .data-list-li-x{
    width: 100%;
    @include nbx-flex-common;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 10px;
    &:last-of-type{
      margin-bottom: 0px;
    }
    .data-list-label-x{
      display: inline-block;
      text:{
        align: left;
        transform: uppercase;
      }
      margin-right: 12px;
      width: 100%;
      @include nbx-roboto
      font:{
        size: 11px;
        weight: 600;
      }
      color: $gray_5;
    }
    .data-list-span-x{
      display: block;
      text-align: left;
      @include nbx-roboto
      font:{
        size: 11px;
        weight: 400;
      }
      color: $black;
      &.numerico{
        text-align: right;
      }
    }
  }
}

// SCROLLBARS

.jqx-scrollbar-button-state-normal-nubox {
  .jqx-icon-arrow-up-nubox, .jqx-icon-arrow-down-nubox, .jqx-icon-arrow-left-nubox, .jqx-icon-arrow-right-nubox {
    background-image: none;
    margin-top: -1px;
  }
  .jqx-icon-arrow-up-nubox:before {
    font-family: 'Nubox' !important;
    font-size: 12px;
    font-weight: initial;
    content: "\e948";
    color: #919191;
  }
  .jqx-icon-arrow-down-nubox:before {
    font-family: 'Nubox' !important;
    font-size: 12px;
    font-weight: initial;
    content: "\e90a";
    color: #919191;
  }
  .jqx-icon-arrow-left-nubox:before {
    font-family: 'Nubox' !important;
    font-size: 12px;
    font-weight: initial;
    content: "\e94c";
    color: #919191;
  }
  .jqx-icon-arrow-right-nubox:before {
    font-family: 'Nubox' !important;
    font-size: 12px;
    font-weight: initial;
    content: "\e90b";
    color: #919191;
  }
}

.jqx-scrollbar-button-state-hover-nubox {
  border: 0;
  background: none;
  margin-left: 1px;
  margin-top: 1px;
}

// DROPDOWN SUJETOS CONTABLES

.jqx-combobox-nubox.base-noline {
  .jqx-icon-arrow-down-nubox:after {
    font-size: 15px;
  }
  .jqx-combobox-input-nubox {
    &::-webkit-input-placeholder {
      text-align: right;
      text-transform: initial;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      text-align: right;
      text-transform: initial;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      text-align: right;
      text-transform: initial;
    }
    &:-ms-input-placeholder {
      text-align: right;
      text-transform: initial;
    }
  }
}

.suj-contable-disabled {
  pointer-events: none;
  > div > #dropdownlistWrappersuj-contable-dropdown #dropdownlistArrowsuj-contable-dropdown .jqx-icon-arrow-down-nubox:after {
    color: #929292;
    opacity: 0.5;
  }
}

// RADIOBUTTON EN GRILLAS

.radiobutton-selection .jqx-checkbox-nubox {
  .jqx-fill-state-normal {
    &:before {
      content: '\e928';
    }
    .jqx-checkbox-check-checked:before {
      content: '\e927';
    }
  }
  .jqx-checkbox-default:before {
    border-radius: 50%;
  }
}

.radiobutton-selection .jqx-grid-column-header:first-child .jqx-checkbox-default-nubox {
    display: none;
}

// NOTIFICACIONES + ADJUNTOS

body .ReactModal__Overlay {
    z-index: 18001;
}

.content #notificacionesListar .stylePanel {
    top: 36px;
    border-top: 0;
    box-shadow: rgba(51,51,51,.38) 0 4px 10px;
    z-index: 18001;
}

.content #notificacionesListar .notifications-tc {
    z-index: 99999 !important;
}

.content #notificacionesListar .boton {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    line-height: 14px;
}

.header-buttons #campanaNotificaciones {
	top: 8px;
	position: relative;
}

.header-buttons #campanaId {
  align-self: center;
  margin-right: 6px;
  text-decoration: none;
  padding-right: initial;
  height: 24px;
  width: 20px;
}

.header-buttons #campanaId:empty {
  margin: -2px 9px 0 -3px;
}

.header-buttons #campanaId:empty:before {
  content: "\e939";
  font-family: 'Nubox' !important;
  font-size: 24px;
  color: #ffffff;
  opacity: 0.5;
}

.header-buttons #campanaId .nubox-notificaciones, .nubox-notificaciones-activas {
  top: 0;
  right: 3px;
  padding: 4px 16px 0 0;
}

.header-buttons #campanaId div:not([class=campanaClass]) {
    margin-top: -1px;
}

.header-buttons #campanaId div:not([class=campanaClass]):before {
   content: "\e939";
   font-family: Nubox !important;
   font-size: 24px;
   color: $white;
   margin-left: -3px;
   opacity: 0.5;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.header-buttons #campanaId div:not([class=campanaClass]) {
		margin-top: 6px;
	}
}
