/* Roboto Regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
	   url('../fonts/roboto/Roboto-Regular.woff') format('woff');
}

/* Roboto Italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
	   url('../fonts/roboto/Roboto-Italic.woff') format('woff');
}

/* Roboto Medium */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
	   url('../fonts/roboto/Roboto-Medium.woff') format('woff');
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
	   url('../fonts/roboto/Roboto-Bold.woff') format('woff');
}